<div class="row g-3">
    <div class="col-md-4">
        <label>Отдел:</label> 
        <select placeholder="Organisation" class="form-control" @bind="@department" required>
            <option value="Газификация">Газификация</option>
            <option value="Водоснабжение">Водоснабжение</option>
        </select>
    </div>
</div>


@code {
    public string department;
}