@using DocumentApp.Data
@inject DocumentApp.Services.MongoDBConnection mongoConnection
@inject NavigationManager nManager
<EditForm Model="@currentCustomer" OnValidSubmit="@(() => SaveChanges())">
    <div class="row g-3">
        <div class="col-md-4">
            <label>Отдел:</label> 
            <select placeholder="Отдел" class="form-control" @bind="@currentCustomer.Department" required>
                <option value="Газификация">Газификация</option>
                <option value="Водоснабжение">Водоснабжение</option>
            </select>
        </div>

        <div class="col-12">
            <button class="btn btn-primary mb-3" type="submit">Сохранить данные</button>
        </div>
    </div>
</EditForm>


@code {
    [Parameter]
    public Customer currentCustomer { get; set; }

    public string department;

    private void SaveChanges()
    {
        mongoConnection.UpdateCustomer(currentCustomer);
        nManager.NavigateTo("/personalCardPage", true);
    }
}