@using DocumentApp.Data
@using DocumentApp.Services
@inherits LayoutComponentBase
@inject ILocalStorageService storageService
@inject UserService userService

<PageTitle>DocumentApp</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a target="_blank" href="/personalCardPage"> <p></p> @userService.currentUser?.FirstName</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code
{
    protected override async Task OnInitializedAsync()
    {
        User potentialUser = await storageService.GetAsync<User>("Authorization");
        if (potentialUser is not null)
        {
            userService.currentUser = potentialUser;
        }
    }
}
